<div class="add-post-form">
    <div class="page-title">
        <h1>Add new post</h1>
    </div>

   <!-- posts/new.html.erb -->
<div class="form">
  <%= form_with model: [@user, @post], url: user_posts_path(current_user), local: true do |form| %>
    <div class="title">
      <label for="title">Title</label>
      <%= form.text_field :title %>
    </div>

    <div class="description">
      <label for="description">Description</label>
      <%= form.text_area :description %>
    </div>

    <%= form.submit "Create Post" %>
  <% end %>
</div>

  
</div>